.card{
    .card-header{
        li{ // todo 選單
            transition: all .4s ease-out; 
            border-bottom: 3px solid transparent;
        }
    }
}

@include media-breakpoint-up(lg) {
    .card-login-signup{
        .card-header{
            h2{
                &:hover{
                    background-color: $blueGreen;
                    color: white;
                    a {
                        color: white !important;
                    }
                }
            }
        }
    }
    
    
}