.active-link{
    color: white;
    border-bottom: 2px solid white !important;
}
.nav-link{
    border-bottom: 2px solid transparent;
    transition: all .4s ease-out;
    &:hover{
        border-bottom: 2px solid white;
    }
}